div.site-footer.grid-container {
	background-color:#211c21 !important;
}

.footer-widgets-container {
	background-color: #211c21;
	padding-bottom: 0px;
}

.footer-widgets-container p{
	color: #fff5e3;
}

.footer-widgets-container a{
	font-family: 'Nunito';
	color: #fff5e3;
	text-decoration: none;
}

.footer-widgets-container a:hover{
	color: #e48b46;
}

.footer-widget-1, .footer-widget-3 {
	text-align: center;
	align-content: center;
	padding-bottom: 20px;
}

.footer-widget-2 {
	text-align: center;
	align-content: end;
}

.copyright-bar, .inside-site-info {
	display: none;
}

.footer-widget-2 img{
	padding: 20px 20px 0px 20px;
	width: 100%;
	max-width: 60vw;
}

.footer-widget-1, .footer-widget-3 {
	line-height: 20px;
	font-size: 16px;
	font-weight: 300;
}

.footer-widget-2 {
	font-size: 15px;
}

.wp-block-social-links {
	align-items: start;
}
